In [17]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (20.0, 10.0)
from mpl_toolkits.mplot3d import Axes3D

In [18]:
data  = pd.read_csv('housingPrices.txt',delimiter=" ",header=None)
data.head()

      0  1       2
0  2104  3  399900
1  1600  3  329900
2  2400  3  369000
3  1416  2  232000
4  3000  4  539900

In [19]:
data.head()

      0  1       2
0  2104  3  399900
1  1600  3  329900
2  2400  3  369000
3  1416  2  232000
4  3000  4  539900

In [20]:
def predict(row, coefficients):
    yhat = coefficients[0]
    for i in range(len(row)-1):
        yhat += coefficients[i + 1] * row[i]
    return yhat

In [21]:
def coefficients(train, l_rate,iterations):
    coef = [0.0 for i in range(len(train[0]))]
    print(coef)
    error=10;
    epoch=0;
    while error<0.001 or epoch <iterations :
        epoch+=1;
        sum_error = 0
        for row in train:
            yhat = predict(row, coef)
            error = yhat - row[-1]
            sum_error += error**2
            coef[0] = coef[0] - l_rate * error
            for i in range(len(row)-1):
                coef[i + 1] = coef[i + 1] - l_rate * error * row[i]
        if epoch%100==0:
            print('epoch =%.0f, lrate=%.9f, error=%.3f' % ( epoch,l_rate,error))
    return coef

In [22]:
train=data.values

In [23]:
cff=coefficients(train,1/pow(10,9),10000)

[0.0, 0.0, 0.0]
epoch =100, lrate=0.000000001, error=4275.546
epoch =200, lrate=0.000000001, error=4275.663
epoch =300, lrate=0.000000001, error=4275.780
epoch =400, lrate=0.000000001, error=4275.897
epoch =500, lrate=0.000000001, error=4276.014
epoch =600, lrate=0.000000001, error=4276.131
epoch =700, lrate=0.000000001, error=4276.248
epoch =800, lrate=0.000000001, error=4276.365
epoch =900, lrate=0.000000001, error=4276.482
epoch =1000, lrate=0.000000001, error=4276.599
epoch =1100, lrate=0.000000001, error=4276.716
epoch =1200, lrate=0.000000001, error=4276.833
epoch =1300, lrate=0.000000001, error=4276.950
epoch =1400, lrate=0.000000001, error=4277.067
epoch =1500, lrate=0.000000001, error=4277.184
epoch =1600, lrate=0.000000001, error=4277.301
epoch =1700, lrate=0.000000001, error=4277.418
epoch =1800, lrate=0.000000001, error=4277.535
epoch =1900, lrate=0.000000001, error=4277.653
epoch =2000, lrate=0.000000001, error=4277.770
epoch =2100, lrate=0.000000001, error=4277.887
epoch =2200, lrate=0.000000001, error=4278.004
epoch =2300, lrate=0.000000001, error=4278.121
epoch =2400, lrate=0.000000001, error=4278.238
epoch =2500, lrate=0.000000001, error=4278.355
epoch =2600, lrate=0.000000001, error=4278.472
epoch =2700, lrate=0.000000001, error=4278.589
epoch =2800, lrate=0.000000001, error=4278.706
epoch =2900, lrate=0.000000001, error=4278.823
epoch =3000, lrate=0.000000001, error=4278.940
epoch =3100, lrate=0.000000001, error=4279.057
epoch =3200, lrate=0.000000001, error=4279.174
epoch =3300, lrate=0.000000001, error=4279.291
epoch =3400, lrate=0.000000001, error=4279.408
epoch =3500, lrate=0.000000001, error=4279.525
epoch =3600, lrate=0.000000001, error=4279.642
epoch =3700, lrate=0.000000001, error=4279.759
epoch =3800, lrate=0.000000001, error=4279.876
epoch =3900, lrate=0.000000001, error=4279.993
epoch =4000, lrate=0.000000001, error=4280.110
epoch =4100, lrate=0.000000001, error=4280.227
epoch =4200, lrate=0.000000001, error=4280.344
epoch =4300, lrate=0.000000001, error=4280.461
epoch =4400, lrate=0.000000001, error=4280.578
epoch =4500, lrate=0.000000001, error=4280.695
epoch =4600, lrate=0.000000001, error=4280.812
epoch =4700, lrate=0.000000001, error=4280.929
epoch =4800, lrate=0.000000001, error=4281.046
epoch =4900, lrate=0.000000001, error=4281.163
epoch =5000, lrate=0.000000001, error=4281.280
epoch =5100, lrate=0.000000001, error=4281.397
epoch =5200, lrate=0.000000001, error=4281.514
epoch =5300, lrate=0.000000001, error=4281.631
epoch =5400, lrate=0.000000001, error=4281.748
epoch =5500, lrate=0.000000001, error=4281.865
epoch =5600, lrate=0.000000001, error=4281.982
epoch =5700, lrate=0.000000001, error=4282.099
epoch =5800, lrate=0.000000001, error=4282.216
epoch =5900, lrate=0.000000001, error=4282.333
epoch =6000, lrate=0.000000001, error=4282.450
epoch =6100, lrate=0.000000001, error=4282.567
epoch =6200, lrate=0.000000001, error=4282.684
epoch =6300, lrate=0.000000001, error=4282.801
epoch =6400, lrate=0.000000001, error=4282.918
epoch =6500, lrate=0.000000001, error=4283.035
epoch =6600, lrate=0.000000001, error=4283.152
epoch =6700, lrate=0.000000001, error=4283.269
epoch =6800, lrate=0.000000001, error=4283.386
epoch =6900, lrate=0.000000001, error=4283.503
epoch =7000, lrate=0.000000001, error=4283.620
epoch =7100, lrate=0.000000001, error=4283.737
epoch =7200, lrate=0.000000001, error=4283.854
epoch =7300, lrate=0.000000001, error=4283.971
epoch =7400, lrate=0.000000001, error=4284.088
epoch =7500, lrate=0.000000001, error=4284.205
epoch =7600, lrate=0.000000001, error=4284.322
epoch =7700, lrate=0.000000001, error=4284.439
epoch =7800, lrate=0.000000001, error=4284.556
epoch =7900, lrate=0.000000001, error=4284.673
epoch =8000, lrate=0.000000001, error=4284.790
epoch =8100, lrate=0.000000001, error=4284.907
epoch =8200, lrate=0.000000001, error=4285.024
epoch =8300, lrate=0.000000001, error=4285.141
epoch =8400, lrate=0.000000001, error=4285.258
epoch =8500, lrate=0.000000001, error=4285.375
epoch =8600, lrate=0.000000001, error=4285.492
epoch =8700, lrate=0.000000001, error=4285.609
epoch =8800, lrate=0.000000001, error=4285.726
epoch =8900, lrate=0.000000001, error=4285.843
epoch =9000, lrate=0.000000001, error=4285.960
epoch =9100, lrate=0.000000001, error=4286.077
epoch =9200, lrate=0.000000001, error=4286.194
epoch =9300, lrate=0.000000001, error=4286.311
epoch =9400, lrate=0.000000001, error=4286.428
epoch =9500, lrate=0.000000001, error=4286.545
epoch =9600, lrate=0.000000001, error=4286.662
epoch =9700, lrate=0.000000001, error=4286.779
epoch =9800, lrate=0.000000001, error=4286.896
epoch =9900, lrate=0.000000001, error=4287.013
epoch =10000, lrate=0.000000001, error=4287.130

In [24]:
test=data.iloc[:,0:2]
y=data.iloc[:,-1]

In [25]:
cff

[4.589633736142335, 165.17115521866472, 8.147634030694068]

In [26]:
test=test.values

In [27]:

pred=[]
for i  in range(len(test)):
    pred.append(predict(test[i],cff))

In [28]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(y, pred))

In [29]:
rms

69252.06035834069